body{
    margin: 0;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    height: 100%;
    
}

h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 40px 0;
    text-align: center;
}
.dark-mode {
    background-color: #202c37;
    color: #fff;
  }
  

  
